:root {
  --primary-color: #24053E;
  --secondary-color: #44FFA1;
  --tertiary-color: #584D62;
  --quaternary-color: #FCF8FF;
  --light-color: #FFFFFF;

--tittle-font-family: 'Fraunces 144pt', serif;
--bory-font-family: 'Manrope', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--bory-font-family);
}      

nav {
  padding: 37px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.logoLight {
  width: 95px;
  height: 34px;
}

.applyBtn {
  color: var(--light-color);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  border-bottom: 3px solid #44FFA1;
}

.tittleSection {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 15rem ;
  background-color: var(--primary-color);
}

.tittleSection h1 {
  max-width: 340px;
  padding: 50px 0;
  text-align: center;
  font-family: var(--tittle-font-family);
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 40px ;
  color: var(--light-color);
}

.tittleSection h1 u {
  text-decoration-color: var(--secondary-color);
}

.tittleSection button {
  text-align: center;
  width: 133px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}

.rightSpiral {
  display: none;
  position: absolute;
  top: 17px;
  left: -229px;
  width: 270px;
  height: 215px;
}

.leftSpiral{
  display: none;
  position: absolute;
  top: 152px;
  right: -190px;
  width: 270px;
  height: 215px;
}

.border{
  position: absolute;
  bottom: -6.5%;
  left: -20px;
  width: 110vw;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%
}
.mobileImage {
  position: absolute;
  bottom: -115px;
}

.mobileImage img{
  width: 300px;
  height: 180px;
  transform: rotate(3deg);
}

.infoSection {
  padding: 240px 16px 0;
  position: relative;
  background-color: var(--quaternary-color);
}

.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoSection .number {
  min-width: 48px;
  height: 46px;
  margin-bottom: 24px;
  color: var(--primary-color);
  font-family: var(--tittle-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  border: 1px solid var(--tertiary-color);
  border-radius: 50%;
}

.infoSection .textContainer h2{
  margin-bottom: 16px;
  color: var(--primary-color);
  font-family: var(--tittle-font-family);
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.infoSection .textContainer p {
  margin-bottom: 40px;
  color: var(--tertiary-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.border2 {
  position: absolute;
  z-index: 1;
  left: -5px;
  bottom: -22px;
  width: 105vw;
  height: 50px;
  background-color: var(--quaternary-color);
  border-radius: 50%
}

.infoFounder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 130px 16px 0;
  background-color: var(--light-color);
}

.photoFounder img{
  width: 265px;
}

.descriptionFounder {
  position: absolute;
  top: 345px;
  padding: 32px;
  margin: 0 16px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--primary-color);
  border-radius: 10px;
}

.descriptionFounder h2 {
font-family: var(--tittle-font-family);
font-size: 32px;
font-weight: 600;
line-height: 48px;
padding-bottom: 16px;
}

.descriptionFounder p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 35px;
}

.descriptionFounder button {
  padding: 11px 23px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
}

.rightSpiralFooter{
  display: none;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 425px 0 65px;
}

.logoFooter {
  margin-bottom: 60px;
}

.socialMedia {
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 700px) {
  .rightSpiral {
    display: block;
  }

  .leftSpiral {
    display: block;
  }

  .mobileImage {
    bottom: -164px;
  }

  .mobileImage img{
    width: 444px;
    height: 264px;
  }

  .infoSection {
    padding: 240px 98px 0;;
  }

  .infoSection .infoDiv {
    flex-direction: row;
  }
  
  .infoSection .number{
    margin-right: 32px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
  }

  .photoFounder {
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 40px;
  }

  .descriptionFounder {
    position: absolute;
    z-index: 3;
    left: 185px;
    top: 285px;
    max-width: 514px;
    text-align: start;
  }

  .rightSpiralFooter {
    display: block;
    position: absolute;
    z-index: 4;
    top: 500px;
    right: 60px;
  }

  footer {
    margin: 590px 0 65px;
  }
}